/* PAGE CONTROLS */

html {
    cursor: url('../images/silverlightswordsmall.png'), auto;

}

body {
    background-image: url('../images/red.jpg');
    background-size: cover;
    background-position: center;
}

/* LOGO */

#logo {
    width: 50%;
    animation: fadeIn;
    animation-duration: 2s;
}
#images{
    position:relative;

}
#flame{
    display: none;
    width: 50%;
    position: absolute;
    top:48%;
    left:60%;
}

/* TOOL BAR */
#toolbar{
    height: 100vh;
}
.my-2{
    animation: fadeInLeft;
    animation-duration: 6s;
}

button {
    margin: 3px;
    width: 50%;
    border-radius: 30px;
}

#undo,
#redo,
#circleFunction,
#rectangleFunction,
#straightLineFunction,
#polygonFunction,
#curveFunction {
    width: 23.5%;
    cursor: url('../images/silverlightswordsmall.png'), auto;
}

#clear {
    margin-bottom: 30px;
}

#circleFunction,
#rectangleFunction,
#straightLineFunction {
    margin-top: 30px;
}

#polygonFunction,
#curveFunction {
    margin-bottom: 30px;
}

#downloadFunction {
    margin-bottom: 30px;
}

label, input, #clear,
#penFunction,
#eraserFunction,
#textFunction,
#circleFunction,
#rectangleFunction,
#straightLineFunction,
#polygonFunction,
#curveFunction,
#iconFunction,
#downloadFunction, #fillFunction {
    cursor: url('../images/silverlightswordsmall.png'), auto;
}


.icons {
    height: 16px;
    width: 16px;
}

.fa-fire {
    margin-left: 5px;
    color: rgb(231, 20, 20);
}

input {
    width: 80%;
    background-image:none;
}

#upload-file{
    color: white;
    cursor: url('../images/silverlightswordsmall.png'), auto;
}

#bars {
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    color: white;
    
}


/* CANVAS */

#canvasContainer {
    position: relative;
    margin-top: 10%;
    margin-left: 13%;
    margin-right: auto;
   
}
#canvasDraft {
    position: absolute;
    border: black 1px solid;
    background-color: transparent;
}

#canvas{
    background-color: white;

}

#canvas, #canvasDraft {
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
}

#dragon {
    display: none;
}