/* PAGE CONTROLS */
html{
    cursor: url('../images/silverlightswordsmall.png'), auto;
}

/* LOGO */
#logo {
    width: 50%;
}

/* TOOL BAR */
button {
    margin: 3px;
    width: 50%;
}

input {
    width: 80%;
}

/* CANVAS */
#canvasContainer {
    position: relative;
}

#canvas {
    border: black 1px solid;
}
#canvasDraft {
    position: absolute;
    background-color: transparent;
    border: black 1px solid;
    display: none;
}

/* hahah what the fuck is this for? */
#dragon{
    display: none;
}