/* PAGE CONTROLS */
html{
    cursor: url('../images/silverlightswordsmall.png'), auto;
}

/* LOGO */
#logo {
    width: 50%;
}

/* TOOL BAR */
button {
    margin: 3px;
    width: 50%;
}

input {
    width: 80%;
}

/* CANVAS */
#canvasContainer {
    position: relative;
}

#canvasDraft {
    position: absolute;
    background-color: transparent;
}

/* hahah what the fuck is this for? */
#dragon{
    display: none;
}